.foto { 
    width: 300px;
    border-radius: 300px;
    margin: 0 auto;
}
body {
    background-color: aqua;
}

.main {
   margin: 0 auto;
    text-align: center;
   width: 300px;
}
.texto {
    text-align: center;
}
.bloco {
    background-color: rgb(255, 255, 255); 
    width: 800px;
    height: 200px;
    margin: 0 auto;
}